* {  margin: 0;  padding: 0;  }

html, body {
    background-color: white;
    padding-top: 30px;
}

.navbar.custom-navbar {
    border-top: 3px solid orange ;
    background-color: #fafafb;
    box-shadow: 0px 1px 0px rgba(12,13,14,0.1), 0px 1px 6px rgba(59,64,69,0.1);
    margin: 0;
    padding: 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.custom-navbar li.active a {
    border-bottom: 2px solid orange;
    color: black;
}

.nav > li > a {
    padding: 14px 10px;
    color: #535a60;
}

.nav > li > a:hover {
    padding: 14px 10px;
    background-color: #eff0f1;
    color: black;
}



a.login-link.btn.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 0px;
    color: #3af;
}

.login-link.btn.btn-primary:focus,.login-link.btn.btn-primary:hover{
    background-color: rgba(0, 119, 204, 0.05);
    color: #07c
}
.singup-link.btn.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3af;
    border: 0px;
    color: white;
}

.singup-link.btn.btn-primary:hover{
    background-color: #07c;
    colo: white;
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 3px;
}